<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>用户登陆</title>
	
	<link type = "text/css" th:rel = "stylesheet" th:href = "@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/> <!-- 引入bootstrapt css -->
	
</head>

<body>

    <form th:action = "@{/page/v1/doLogin}" method = "POST" onSubmit = "return encrypt()" >
        用户名 : <input type = "text" name = "username"></input> </br>
        密码 : <input type = password id = "pwd"></input> </br>
        <input type = "hidden" name = "password" id = "md5-pwd"></input>
        <button type = "submit">登陆</button>
    </form>
    </br>
    
    <span th:text = "${message}"></span>
    </br>
    <span th:text = "${status}"></span>
    
    </br>
    <a href = "/page/v1/regist">注册</a>
    </br>
    <a href = "/home">返回首页</a>

</body>

<script type="text/javascript" th:src = "@{/js/custome.js}"></script>   <!-- 引入自定义js -->
<script type="text/javascript" th:src = "@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src = "@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script> <!-- 引入bootstrapt js -->


<script>
	function encrypt(){
		var pwd = $("#pwd").val();
		$("#md5-pwd").val(md5(pwd));
		return true;
	}
</script>

</html>



