<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    
    <link th:rel = "stylesheet" th:href = "@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/> <!-- 引入bootstrapt css -->
    
</head>

<body>

    <form th:action = "@{/page/v1/doRegist}" method = "POST">
        用户名 : <input type = "text" name = "username" id = "user_name"></input> </br>
        密码 : <input type = password name = "password" id = "pwd"></input> </br>
        注册邮箱 : <input type = text name = "registemail" id = "regist_email"></input> 
        <button type = "button" onclick = "sendVerifyCode()">发送验证码(5 min)</button> <span id = "verifyResult"></span> </br>
        邮箱验证码 : <input type = text name = "verifycation_code"></input> </br>
        <input type = "submit" value = "注册" ></input>
    </form>
    
    </br>
    <span th:text = "${message}"></span> </br>
    <span th:text = "${status}"></span> </br>
    
    <a href = "/page/v1/login">返回登陆</a> </br> 
    <a href = "/home">返回首页</a> 

</body>

<script th:src = "@{/js/custome.js}"></script>   <!-- 引入自定义js -->
<script th:src = "@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src = "@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script> <!-- 引入bootstrapt js -->

<script>
	function sendVerifyCode(){
		
		input_regist_email = $("#regist_email").val();
		console.log("注册邮箱 : " + input_regist_email);
		
		$.ajax({
			type : "post",
			contentType: "application/json;charset=UTF-8",
	        url: "/page/v1/generateRandomEmailCode?email=" + input_regist_email,
	        data: {}, 
	        dataType: 'json',  // 返回的格式
	        cache: false,
	        timeout: 60000,
	        success: function (data) {
	        	console.log(data);
	        	$("#verifyResult").text(data.message);
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	            $("#verifyResult").text(e);
	        }
		});
	}
</script>

</html>









